@{
    ViewData["Title"] = "Home Page";
}

<div class="background1"> </div>
<div class="text-center">
    <h1 class="display-4">Welcome to Bushwalkers One Stop Shop (BOSS) </h1>
    <p>This website provide information, services and support to avid bush walkers and parks administrators.</p>
</div>
